body {
    background: rgb(139, 139, 139);
    background: radial-gradient(circle, rgb(139, 139, 139) 0%, rgb(126, 126, 126) 100%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    max-width: 100vw;
    margin: 20px auto;
  
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  
  .acbaslider {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: fit-content;

    &__wrapper {
      display: flex;
      width: 100%;
      position: relative;
    }
  
    &__images__img {
      width: 50%;
      height: 100%;
      object-fit: cover;
      user-select: none;
      pointer-events: none;
      transition: opacity 0.4s ease-in-out;
  
      &--before {
        float: left;
        z-index: 1;
      }
  
      &--after {
        float: right;
        z-index: 2;
      }
    }
  
    &__divider {
      width: 2px;
      height: 100%;
      background-color: #ffffff;
      z-index: 3;
      position: absolute;
      top: 0;
      left: 50%;
    }
  
    &__labels {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      color: #fff;
      font-weight: bold;
      font-size: 1.1rem;
      padding: 10px;
      margin-top: 10px;
  
      &__before,
      &__after {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px 10px;
        border-radius: 10px;
      }
  
      &__separator {
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        margin: 0 10px;
      }
    }
  }
  